{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="welcome-container">
	<!--<canvas></canvas>-->
	<div class="message-container">
		<div class="welcome-title">
			<b><p>Review Library</p></b>
		</div>
		<div class="made-by">
			<p>Made by N3code team</p>
		</div>
		<!--<a class="button" href="why-does-it-exist">Explore</a>--->
	</div>
	<img class="img" src="{% static '142-Reading-Book-white.svg' %}">
</div>

<script src="{% static 'welcome.js' %}" type="text/javascript"></script>

<div class="why-does-it-exist-container" id="@why-does-it-exist">
	<div class="why-does-it-exist-container-title">
		<p>Why does it exist?</p>
	</div>
	<div class="why-does-it-exist-container-card-container">
		
	</div>
</div>

<!--JS-->
{% endblock %}